@import '../../variables.scss';
@import '../../mixins.scss';

.footer-main {
    background-color: rgb(255, 145, 0);
    bottom: 0;
    height: 200px;

    .footer-border {
        height: 6px;
        width: 100%;
        background: linear-gradient(180deg, rgba(136,51,55,1) 35%, rgb(178, 101, 0) 75%, rgba(255,145,0,1) 100%);
    }

    .footer-menu {
        @include container;
        a {
            color: white;
            text-decoration: none;
        }
        display: grid;
        grid-template-columns: 15% 15% 15% 55%;

        .footer-column-one {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            grid-column-start: 1;
        }
        .footer-column-two {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            grid-column-start: 2;
        }
        .footer-column-three {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            grid-column-start: 3;
        }
        .footer-column-four {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            .copyright {
                color: white;
                justify-content: center;
                text-decoration: none;
            }
            .social {
                a {
                    padding: 0 20px 0 0;
                }
            }
        }
    }
}
