@import "../variables.scss";
@import "../mixins.scss";

.quotes {
    @include container;
    @include main;

    display: flex;
    flex-direction: column;
    padding: 5rem 0;

    .quote-summary {
        height: 200px;

        h1 {
            height: 60px;
            border-bottom: 3px rgb(249, 49, 49) solid;
        }

        p {
            height: 60px;
            padding: 20px 0;
        }
    }
}
