@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@mixin button() {
    background-color: rgb(255, 145, 0);
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;

    &:hover {
        color: rgb(255, 239, 7);
        background-color: rgb(249, 49, 49);
        transition: all 200ms ease-in-out;
        cursor: pointer;
    }
}

@mixin container() {
    width: 1100px;
    margin: auto;
}

@mixin font-style($size) {
    font-family: 'Ubuntu', sans-serif;
    font-size: $size;
}

@mixin headerLink() {
    @include font-style(1.5rem);
    @include headerLinkHoverAnimation();

    color: white;
    text-decoration: none;
}

@mixin headerLinkHoverAnimation() {
    &:hover{
        color: rgb(255, 239, 7);
        transition: all 200ms ease-in-out;
        text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
}

@mixin footerLinkHoverAnimation() {
    &:hover {
        color: rgb(255, 239, 7);
        transition: all 200ms ease-in-out;
    }
}

@mixin main() {
    padding-top: 10px;
}
