@import '../../variables.scss';
@import '../../mixins.scss';

.header-main {
    height: 100px;
    background-color: rgb(255, 145, 0);
    border-bottom: rgb(136, 51, 55) 3px solid;

    .header-menu {
        @include container;

        display: flex;

        #logo {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 25%;

            .logo {
                display: flex;
                align-items: center;
                height: 25px;
                width: 70px;
            }
        }

        #header-contact-links {
            display: flex;
            flex-direction: column;

            .contact-info {
                align-items: flex-start;
                display: flex;
                justify-content: flex-end;

                p, a {
                    display: flex;
                    justify-content: flex-end;
                    padding-top: 10px;
                    width: 220px;
                }

                a {
                    @include linkHoverAnimation();
                    text-decoration: none;
                }
            }

            #header-links {
                align-items: flex-end;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-bottom: 10px;
            }
        }

    }
}

// Media Query
